@font-face {
    font-family: "qasbyne";
    src: url("/assets/font/Qasbyne.otf");
    font-display: swap;
}

:root {
    --white: #FAF2E7;
    --black: #000000;

    --qasbyne: "qasbyne";

    --gutter: 0.7rem;
    --column: 12;

    --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
    --primary-transition: transform 0.5s var(--ease-in-out-quart);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html,
body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    position: relative;
}

.overlay {
    opacity: 0;
    position: fixed;
    inset: 0 var(--gutter);
    background-image: 
        repeating-linear-gradient(
            to right,
            #e7a2a279,
            #e7a2a279 calc((100% / var(--column)) - var(--gutter)),
            transparent calc((100% / var(--column)) - var(--gutter)),
            transparent calc(100% / var(--column))
        );
    background-position: left top;
    background-size: calc(100% + var(--gutter)) 100%;
    z-index: -1;
}

.overlay.active {
    opacity: 1;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gutter);
    background-color: #f3f3f3;
    position: relative;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--gutter);    
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.header .header__name {
    overflow: hidden;
    grid-column: span 4 / span 4;
}

.header .header__name span {
    font-size: .7rem;
    line-height: 1.5;
}

.header .header__location {
    grid-column: span 3 / span 3;
}

.header .header__navigation {
    grid-column: span 3 / span 3;
}

.header .header__navigation--two {
    grid-column: span 2 / span 2;
}

.header .header__location {
    line-height: 1.5;
}

.header .header__location .header__location--title,
.header .header__navigation .navigation__title,
.header .header__navigation--two .navigation__title {
    color: #807e7c;
    text-transform: capitalize;
    font-size: .7rem;
    line-height: 1.5;
}

.header .header__location .overflow__wrapper {
    display: flex;
    flex-direction: column;
}

.overflow__wrapper,
.header__name--text {
    transform: translateY(100%);
    display: inline-block;
    will-change: transform;
}

.header .header__location .header__location--place {
    font-size: .7rem;
}

.header .header__navigation ul,
.header .header__navigation--two ul {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.header .header__navigation .header__navigation--item,
.header .header__navigation--two .header__navigation--item {
    list-style: none;
}

.header .header__navigation .header__navigation--item a,
.header .header__navigation--two .header__navigation--item a {
    color: var(--black);
    text-decoration: none;
    text-transform: capitalize;
    font-size: .7rem;
}

.header .header__navigation .navigation__link,
.header .header__navigation--two .navigation__link {
    position: relative;
}

.header .header__navigation .navigation__link::before ,
.header .header__navigation--two .navigation__link::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transform: scaleX(0);
    transform-origin: right;
    transition: var(--primary-transition);
}

.header .header__navigation .navigation__link:hover::before ,
.header .header__navigation--two .navigation__link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}



.images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(14, minmax(0, 1fr));
    gap: 1rem;
    padding: 0 .7rem;
    margin-top: -1rem;
}

.images .images__item {
    --y-percent: 0%;
    aspect-ratio: 1/1.3;
    will-change: transform;
    position: relative;
}

/* .images .images__item:nth-last-child(8).center {
    transform: translate(-50%, -50%)!important;
} */

.images .images__item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    transform: translateY(var(--y-percent)) scale(1.1);
    will-change: transform;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .container__heading {
    overflow: hidden;
}

.container .container__heading .container__heading--text {
    font-size: 16.10vw;
    text-transform: capitalize;
    text-wrap: nowrap;
    line-height: 0.8;
    transform: translateY(120%);
    display: inline-block;
    font-family: var(--qasbyne);
    font-weight: 100;
    padding-top: 1rem;
    will-change: transform;
}